form {
	padding: 10px;
	border: solid black 2px;
	background-color: LightGray;
	margin: 15px;
	box-shadow: 10px 10px 8px #888888;
}

.puu {
	float: left;
	margin-right: 15px;
	margin-left: 15px;
}

.wikipedia {
	font-family: Arial;
}


.sivu1 {
	margin-top: 15px;

}

.sivu11 {
	margin-right: 15px;
	margin-left: 15px;
}

.puu2 {
	float: right;
}

.man {
	float: left;
	margin-right: 15px;
	margin-left: 15px;
}

.sivu3 {
	margin-top: 15px;
	
}


div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
